:root {
  --main-text-color: #212121;
  --content-text-color: #757575;
  --logo-bgr-blue: #2196f3;
  --bgr-hero-color: #2f303a;
  --logo-black: #000000;
  --text-hover-wight: #ffffff;
  --btn-hiro-hover: #188ce8;
  --addr-footer-white: rgba(255, 255, 255, 0.6);
  --bgr-team: #f5f4fa;
  --bgr-btn-pfl: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

/*~~~~~~~~~~~~~~~~~~~FIRST PAGE~~~~~~~~~~~~~~~~~~~~*/

body {
  font-family: "Roboto", "Raleway", sens-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--text-hover-wight);
  font-size: 14px;
}

/* -------------for ul without points------------ */

.list {
  list-style: none;
}

.header-list {
  display: flex;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*____________________HEADER_________________________*/

.header-frame {
  border-bottom: 1px solid #ececec;
}

.display-head {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-black);
  text-decoration: none;
  line-height: 1.19;
}

.logo-margin {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}

.logo-blue {
  color: var(--logo-bgr-blue);
}

.marg-list-nav {
  margin-right: 331px;
}

.navigation {
  display: flex;
  align-items: center;
}

/*--------------for <li> in HEADER------------*/

.marg-li-header {
  margin-right: 50px;
}

.head-li-addr:not(:last-child) {
  margin-right: 50px;
}

/* -------------for <a> in HEADER-------------*/

.link-header {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--text-hover-wight);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-header:hover,
.link-header:focus {
  color: var(--logo-bgr-blue);
}

.current {
  color: var(--logo-bgr-blue);
}

/*-------------for address <a> in HEADER----------------*/

.link-addr-head {
  color: var(--content-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-addr-head:hover,
.link-addr-head:focus {
  color: var(--logo-bgr-blue);
}

/* ____________________HIRO________________________*/

.hiro-bgr {
  background-color: var(--bgr-hero-color);
}

.padding-hiro {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hiro-text {
  color: var(--text-hover-wight);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hiro-btn {
  font-family: "Roboto", sens-serif;
  color: var(--text-hover-wight);
  background-color: var(--logo-bgr-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
}

.hiro-btn:hover,
.hiro-btn:focus {
  background-color: var(--btn-hiro-hover);
}

/*___________________Sectio Features___________________*/

.fiatures {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
}

.section {
  padding-bottom: 94px;
}
.visualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-ul {
  display: flex;
}

.item-fiatures {
  width: 270px;
}

.item-fiatures:not(:last-child) {
  margin-right: 30px;
}

.third-headline {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features-text {
  color: var(--content-text-color);
  line-height: 1.7;
}

/*_________________Section What To Do__________________*/

.second-headline {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.item-what-do:not(:last-child) {
  margin-right: 30px;
}

/*_________________Section Team________________________*/

.item-team:not(:last-child) {
  margin-right: 30px;
}

.item-team {
  border-radius: 0 0 4px 4px;
}

.team-bgr {
  background-color: var(--bgr-team);
  padding-top: 94px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}

.profession {
  color: var(--content-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mrg-for-h-two {
  margin-bottom: 50px;
}

/*_________________FOOTER_________________________________*/

.padding-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.collomn {
  flex-direction: column;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--text-hover-wight);
  text-decoration: none;
  line-height: 1.19;
}

.margin-logo-foot {
  display: block;
  padding-bottom: 20px;
}

.link-footer {
  text-decoration: none;
  color: var(--text-hover-wight);
  line-height: 2;
}
.addr-footer {
  text-decoration: none;
  color: var(--addr-footer-white);
  line-height: 2;
}

.addr-footer:hover,
.addr-footer:focus {
  color: var(--logo-bgr-blue);
}

.link-footer:hover {
  color: var(--logo-bgr-blue);
}

.link-footer:focus {
  color: var(--logo-bgr-blue);
}

/*~~~~~~~~~~~~~~~~~~~PORTFOLIO~~~~~~~~~~~~~~~~~~~*/

/*_________________section filters______________*/

.section-top {
  padding-top: 94px;
}

.item-filters:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.btn-font {
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  color: var(--main-text-color);
  background-color: var(--bgr-btn-pfl);
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.btn-font:hover,
.btn-font:focus {
  color: var(--text-hover-wight);
  background-color: var(--logo-bgr-blue);
}

.card-net {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.title-font {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.desc-font {
  color: var(--content-text-color);
  font-size: 16px;
  line-height: 1.875;
}

.link-non-stiles {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

.work-exemples {
  margin-top: 30px;
  margin-left: 30px;
}

.frame {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
